############################################
#Generic File and Folder ignors:
*.bak
.*.bak
RemoteSystemsTempFiles/*
.DS_Store
workspace/
workingDir/
data/
logs/
*.log
*.log*
.git/


############################################
# Build Stuff:
mvnw
mvnw.cmd
.mvn/
gradlew
gradlew.bat
.gradle/
build/
target/
bin/
node/
node_modules/
.angular/*
app-bundle.js
certs/*Ness*.jks
pom.xml.versionsBackup
# infrastructure ignores
infrastructure/**/*config.y*ml
infrastructure/**/*output.y*ml

############################################
# IDE/Editor Files
.tern-project
.factorypath
.settings/
Servers/*
.metadata/*
.recommenders/*
.classpath
.project
.vscode/
*.eml
*.iml
.idea/*
!.idea/runConfigurations
!.idea/codeStyles
!.idea/google-java-format.xml

############################################
